@use "vars";
@use "sass:color";

@mixin box($bg-lighten: 2%) {
        background-color: color.adjust(vars.$main_background, $lightness: $bg-lighten);
        border: 1px solid color.adjust(vars.$main_background, $lightness: 10%);
        border-radius: 3px;
        box-shadow: 0px 0px 8px color.adjust(vars.$main_background, $lightness: -5%);
        margin-bottom: vars.$p_spacing;
}
