@use "vars";
@use "sass:color";

@mixin box($bg-lighten: 2%) {
        background-color: lighten(vars.$main_background, $bg-lighten);
        border: 1px solid lighten(vars.$main_background, 10%);
        border-radius: 5px;
        box-shadow: 0px 0px 8px darken(vars.$main_background, 5%);
        margin-bottom: vars.$p_spacing;
}
