{{ define "main" }}
    <header class="content-header">
        <div id="post-info">
            {{ if .Date }}Posted: {{ .Date.Format "2006-01-02" }}{{ end }}<br/>
            {{ if .Lastmod }}Last modified: {{ .Lastmod.Format "2006-01-02" }}{{ end }}
            {{ if .GitInfo }} @ {{ .GitInfo.AbbreviatedHash }}{{ end }}
        </div>
        <h1>{{ .Title | markdownify }}</h1>
        {{ if .Params.series }}
            <p><small><i>This post is part of the following series:
                {{ $seriesLinks := (apply (apply (.GetTerms "series") "partial" "series-link.html" ".") "chomp" ".") }}
                {{ delimit $seriesLinks ", " | safeHTML }}.
            </i></small></p>
        {{ end }}
    </header>

    {{ $contentFootnotesPattern := `(<div class="footnotes" role="doc-endnotes">(?:.|\n)+?.*?</div>)` }}
    {{ $contentFootnotesContent := index (findRE $contentFootnotesPattern .Content) 0 }}
    {{ .Scratch.Set "contentFootnotes" ($contentFootnotesContent | safeHTML) }}

    <div class="content-body">
        {{ .Content | replaceRE $contentFootnotesPattern "" | safeHTML }}
    </div>
    {{ if .Params.series }}
        <div class="post-series">
            {{ $page := . }}
            {{ range .GetTerms "series" }}
                <h3>Other posts in {{ .LinkTitle }}</h3>
                {{ $series := where $page.Site.RegularPages.ByDate ".Params.series" "intersect" (slice .LinkTitle) }}
                <ol>
                    {{ range $series }}
                    <li>
                        {{ if eq .File.UniqueID $.File.UniqueID }}
                        <b>{{ .Title }}</b>
                        {{ else }}
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                        {{ end }}
                    </li>
                    {{ end }}
                </ol>
            {{ end }}
        </div>
    {{ end }}
    {{ if .Scratch.Get "contentFootnotes" }}
        {{ .Scratch.Get "contentFootnotes" }}
    {{end}}
{{ end }}
