{{ define "main" }}
    <header class="content-header">
        <div id="post-info">
            {{ if .Date }}Posted: {{ .Date.Format "2006-01-02" }}{{ end }}<br/>
            {{ if .Lastmod }}Last modified: {{ .Lastmod.Format "2006-01-02" }}{{ end }}
            {{ if .GitInfo }} @ {{ .GitInfo.AbbreviatedHash }}{{ end }}
        </div>
        <h1>{{ .Title | markdownify }}</h1>
        {{ if .Params.series }}
            {{ with index (.GetTerms "series") 0 }}
                <p><small><i>This post is part of a series: <a href="{{ .Permalink }}">{{ .LinkTitle }}</a></i></small></p>
            {{ end }}
        {{ end }}
    </header>
    <div class="content-body">
        {{ .Content }}
    </div>
    {{ if .Params.series }}
        <div class="post-series">
            {{ $series := where .Site.RegularPages.ByDate ".Params.series" "intersect" .Params.series }}
            {{ with $series }}
            <h3 id="series">Posts in this series</h3>
            <ol>
                {{ range . }}
                <li>
                    {{ if eq .File.UniqueID $.File.UniqueID }}
                    <b>{{ .Title }}</b>
                    {{ else }}
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    {{ end }}
                </li>
                {{ end }}
            </ol>
            {{ end }}
        </div>
    {{ end }}
{{ end }}
